// ==========================================================================
// Global Config
// ==========================================================================

// Font Stacks
$font-url--google        : 'http://font.googleapis.com/css?family=Lato:100,300,400,700,900';

$font-family--primary    : 'Lato', 'Helevetica Neue', Helevetica, Arial, sans-serif;
$font-family--secondary  : 'Helevetica Neue', Helevetica, Arial, sans-serif;

// Font Weights
$font-weight--thin       : 100;
$font-weight--light      : 300;
$font-weight--medium     : 400;
$font-weight--bold       : 700;
$font-weight--ultra-bold : 900;

// Descriptive Base Colors

$base--white     : #fff;
$base--black     : #0b0b0b;
$base--grey      : #797e83;

$base--fountain  : #52bab3;
$base--emerald   : #5ece7f;
$base--sunglo    : #e67478;
$base--coral     : #ff784f;
$base--majesty   : #9279c3;
$base--scooter   : #39add1;

// Color Usage

$color-primary    : $base--fountain;
$color-secondary  : $base--scooter;
$color-accent     : $base--emerald;
$color-shadow     : rbga($base--black, 0.2);

// Color Palette modifiers
$palettes: (

  pal--grey: (
    xx-light  : lighten($base--grey, 43%),
    x-light   : lighten($base--grey, 35%),
    light     : lighten($base--grey, 12%),
    base      : $base--grey,
    dark      : darken($base--grey, 8%),
    x-dark    : darken($base--grey, 16%)
  ),

  pal--black: (
    light     : lighten($base--black, 10%),
    base      : $base--black,
    dark      : darken($base--black, 10%)
  )

);


// UI Colors - using Sass Maps
$ui-colors: (
  default : $base--fountain,
  success : $base--emerald,
  error   : $base--sunglo,
  warning : $base--coral,
  info    : $base--majesty
);



// Text

$base__font-size  : 16px;
$base__line       : 24px;
